

<body>
<form id="form1" name="form1" method="post" action="" class="table">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="verifyuser">Verify users</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="addarts">add  arts</a></th>
    </tr>
       <tr>
      <th scope="row"><a href="addart1">manage  arts</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewcompli">View complients and reply</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewfee">View feedbacks</a></th>
    </tr>
 <tr>
      <th scope="row"><a href="/">log out </a></th>
    </tr>
  </table>
</form>
</body>
