{% load static %}
<html lang="zxx">

<head>
    <script type="text/javascript">
        function calc(){

            var price=parseInt(document.getElementById('pri').value)
            var quantity=parseInt(document.getElementById('quant').value)
            var total=price*quantity
            document.getElementById('tot').value=total
         }

    </script>




    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>aranaz</title>
  <link rel="icon" href="{% static 'assets/img/favicon.png' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <!-- animate CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
  <!-- nice select CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
  <!-- swiper CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/price_rangs.css' %}">
  <!-- style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">




</head>

<body>
  <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                   <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html"> <img src="{% static 'assets/img/logo1.png' %}" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="glyphicon glyphicon-menu-hamburger"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="editprofile">edit profile</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        complaints
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="sendcomp"> add complaints</a>
                                        <a class="dropdown-item" href="viewcom">view complaints</a>

                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="contact">Contact</a>
                                </li>

                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        blog
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="#"> blog</a>
                                        <a class="dropdown-item" href="#">Single blog</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">login out</a>
                                </li>
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <a id="search_1" href="javascript:void(0)"><i class="glyphicon glyphicon-search"></i></a>
                            <a href=""><i class="glyphicon glyphicon-heart-empty"></i></a>
                            <div class="dropdown cart">
                                <a class="dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>

</header>
  <!-- Header part end-->



  <!--================Cart Area =================-->
  <section class="cart_area padding_top">
   <form method="post">
        <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                  <th></th>
              </tr>
            </thead>
              {% for i in data %}
            <tbody>
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <!--<img src="{% static 'assets/img/product/single-product/cart-1.jpg' %}" alt="" />-->
                        <a href="{% url 'updatecartedit' id=i.id %}" ><img src="{{i.prdt.art.url}}" width="100"/></a>
                    </div>
                    <div class="media-body">
                      <p>{{i.prdt.name}}  </p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5><input class="input-number border-0" type="text" id="pri" value="${{i.prdt.price}}"></h5>
                </td>
                <td>

                    <input class="input-number border-0" type="text" id="quant" value="{{i.quanity}}">

                </td>
                <td>
                  <h5><input type="text" class="input-number border-0" id="tot" readonly ></h5>
                </td>
              </tr>
              <tr>
                  <td>
                       <td>
                             <a class="btn_1" href="{% url 'updatecartedit' id=i.id %}">edit</a>
                       </td>
                  </td>

                  <td>
                       <td>
                             <a class="btn_1" href="{% url 'updatecartdelete' id=i.id %}">delete</a>
                       </td>
                  </td>
              </tr>
              {% endfor %}


            </tbody>

          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="/userhome">Continue Shopping</a>

          </div>
        </div>
      </div>
        </div>
    </form>
  </section>
  <!--================End Cart Area =================-->

  <!--::footer_part start::-->
  <footer class="footer_part">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-sm-6 col-lg-2">
          <div class="single_footer_part">
            <h4>Top Products</h4>
            <ul class="list-unstyled">
              <li><a href="">Managed Website</a></li>
              <li><a href="">Manage Reputation</a></li>
              <li><a href="">Power Tools</a></li>
              <li><a href="">Marketing Service</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-2">
          <div class="single_footer_part">
            <h4>Quick Links</h4>
            <ul class="list-unstyled">
              <li><a href="">Jobs</a></li>
              <li><a href="">Brand Assets</a></li>
              <li><a href="">Investor Relations</a></li>
              <li><a href="">Terms of Service</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-2">
          <div class="single_footer_part">
            <h4>Features</h4>
            <ul class="list-unstyled">
              <li><a href="">Jobs</a></li>
              <li><a href="">Brand Assets</a></li>
              <li><a href="">Investor Relations</a></li>
              <li><a href="">Terms of Service</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-2">
          <div class="single_footer_part">
            <h4>Resources</h4>
            <ul class="list-unstyled">
              <li><a href="">Guides</a></li>
              <li><a href="">Research</a></li>
              <li><a href="">Experts</a></li>
              <li><a href="">Agencies</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="single_footer_part">
            <h4>Newsletter</h4>
            <p>Heaven fruitful doesn't over lesser in days. Appear creeping
            </p>
            <div id="mc_embed_signup">
              <form target="_blank"
                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get" class="subscribe_form relative mail_part">
                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                  class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = ' Email Address '">
                <button type="submit" name="submit" id="newsletter-submit"
                  class="email_icon newsletter-submit button-contactForm">subscribe</button>
                <div class="mt-10 info"></div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="copyright_part">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="copyright_text">
              <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer_icon social_icon">

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--::footer_part end::-->

  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="{% static 'assets/js/jquery-1.12.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <!-- bootstrap js -->
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <!-- easing js -->
  <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
  <!-- swiper js -->
  <script src="{% static 'assets/js/swiper.min.js' %}"></script>
  <!-- swiper js -->
  <script src="{% static 'assets/js/masonry.pkgd.js' %}"></script>
  <!-- particles js -->
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
  <!-- slick js -->
  <script src="{% static 'assets/js/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
  <script src="{% static 'assets/js/contact.js' %}"></script>
  <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.form.js' %}"></script>
  <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'assets/js/mail-script.js' %}"></script>
  <script src="{% static 'assets/js/stellar.js' %}"></script>
  <script src="{% static 'assets/js/price_rangs.js' %}"></script>
  <!-- custom js -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>