{% extends 'index1.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="291" border="1">
    <tr>
      <th width="281" scope="row"><a href="editprofile">edit profile</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewart">view works </a></th>
    </tr>


    <tr>
      <th scope="row"><a href="sendfee">add feedbacks </a></th>
    </tr>
    <tr>
      <th scope="row"><a href="sendcomp">add complants </a></th>
    </tr>
     <tr>
      <th scope="row"><a href="viewcom">view complient reply </a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/">logout</a></th>
    </tr>
  </table>
</form>
</body>


</html>
{% endblock %}