<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<script type="text/javascript">
  function calc(){

    var price=parseInt(document.getElementById('price').value)
    var quantity=parseInt(document.getElementById('quantity').value)

    var total=price*quantity

    document.getElementById('tot').value=total
  }
</script>

<body>
<form id="form1" name="form1" method="post" action="{% url 'artorder' %}">
  <table width="200" border="1">
    <tr>
      <th scope="row">art name</th>
      <td><input type="text" name="textfield" value="{{data.name}}" readonly /></td>
    </tr>

    <tr>
      <th scope="row">price</th>
      <td><input type="text" name="textfield3" id="price" value="{{data.price}}" readonly/></td>
    </tr>

    <tr>
      <th scope="row">quantity</th>
      <td><input type="text" name="textfield5" value="{{data.}}" id="quantity" onkeyup="calc()" /></td>
    </tr>
    <tr>
      <th scope="row">total</th>
      <td><input type="text" name="textfield6"  id="tot"/></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="Submit" value="order" /></th>
    </tr>
  </table>
</form>
</body>
</html>
