{% load static %}
<html lang="en">
<head>
	<title>online cart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'login form/images/icons/logo1.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login form/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login form/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login form/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login form/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login form/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login form/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login form/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login form/vendor/daterangepicker/daterangepicker.css' %}' }">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login form/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login form/css/main.css' %}">
<!--===============================================================================================-->
</head>

		<form id="form1" name="form1" method="post" action="/signuppress">

			<div class="limiter">
				<div class="container-login100">
					<div class="wrap-login100">
						<!--<form class="login100-form validate-form">-->
							<!--<span class="login100-form-title p-b-26">-->

							<!--</span>-->
							<span class="login100-form-title p-b-48">
								<a class="navbar-brand" href=""> <img src="{% static 'assets/img/logo1.png' %}" alt="logo"> </a>
<!---->
							</span>

							<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
								<input class="input100" type="text" name="textfield">
								<span class="focus-input100" data-placeholder="first name"></span>
							</div>
<!---->

							<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
								<input class="input100" type="text" name="textfield2">
								<span class="focus-input100" data-placeholder="lastname"></span>
							</div>


							<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">

								<input class="input100" type="text" name="textfield3">
								<span class="focus-input100" data-placeholder="age"></span>
							</div>

							<div class="p-4 " >

								<input class="" name="radiobutton" type="radio" value="male" checked />
     							 male
        						<input class="ml-5" name="radiobutton" type="radio" value="female" />
								female
							</div>

							<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
								<input class="input100" type="text" name="textfield5">
								<span class="focus-input100" data-placeholder="place"></span>
							</div>

							<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
								<input class="input100" type="text" name="textfield6">
								<span class="focus-input100" data-placeholder="post"></span>
							</div>

							<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
								<input class="input100" type="text" name="textfield7">
								<span class="focus-input100" data-placeholder="pin"></span>
							</div>

							<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
								<input class="input100" type="text" name="textfield8">
								<span class="focus-input100" data-placeholder="email"></span>
							</div>

							<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
								<input class="input100" type="text" name="textfield9">
								<span class="focus-input100" data-placeholder="phone"></span>
							</div>
							<p id="message"></p><br>
							<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">

								<input class="input100" type="text" id="un" name="textfield10">

								<span class="focus-input100" data-placeholder="username" onkeyup="hide()"></span>

							</div>

							<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
								<input class="input100" type="text" name="textfield11">
								<span class="focus-input100" data-placeholder="password"></span>
							</div>


							<div class="container-login100-form-btn">
								<div class="wrap-login100-form-btn">
									<div class="login100-form-bgbtn"></div>
									<button class="login100-form-btn" id="btn">
										sign up
									</button>
								</div>
							</div>








					</div>
				</div>
			</div>
		</form>

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'login form/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login form/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login form/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login form/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login form/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login form/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login form/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login form/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login form/js/main.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">


    $("#un").keyup(function(){
    var uname;
    uname = $(this).val();

$.ajax(
    {
        type:"GET",
        url: "/likepost",
        data:{
                 username: uname,

        },
        success: function( data )
        {
        if (data.is_taken) {

                    $( '#message' ).text(data.error_message);
                  }
                  else
                  {
                  $( '#message' ).text("");
                  }

        }
     })
});


</script>

</body>
</html>